{% extends 'base.html' %}
{% load static %}
{% block title %}Nature{% endblock %}
{% block content %}
	<div class="jumbotron jumbotron-fluid height100v">
		<div class="container h100">
			<div class="headerText">
				<h1 class="display-1">Nature</h1>
				<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
				<hr class="my-4">
				<a href="{% url 'blog:post-list' %}" class="btn btn-outline-primary btn-lg">See my Blog</a>
			</div>
		</div>
	</div>
{% endblock %}
